# Node
node_modules

# Hidden
.*

# VSCode
!.vscode/

# Husky
!.husky/
.husky/_

# Git
!.gitignore
!.gitkeep
!.gitmessage

# Semantic Release
!.releaserc.json

# GitHub
!.github/

# NPM
!.npmrc
!.npmignore

# Prettier
!.prettierignore
!.prettierrc.js
