# Node
node_modules

# Hidden
.*

# Devcontainer
!.devcontainer/

# VSCode
!.vscode/

# Husky
!.husky/
.husky/_

# Env
!.env.example

# Git
!.gitignore
!.gitkeep
!.gitmessage

# GitHub
!.github/

# NPM
!.npmrc
!.npmignore

# Mise
!.mise/

# Prettier
!.prettierignore
!.prettierrc.js

# Claude Code
!.claude/
!.claude/.ignore

# Terraform
!.terraform.lock.hcl
