//npm.pkg.github.com/:_authToken=${GITHUB_PKG_TOKEN}
@duncan3142:registry=https://npm.pkg.github.com
@duncan3142org:registry=https://npm.pkg.github.com
engine-strict=false
access=restricted
strict-peer-deps=true
save=true
