[settings]
lockfile = true

[tools]
usage = "2"
"github:cli/cli" = "2"
"github:docker/docker-credential-helpers" = "latest"
terraform = "1"

[env]
GITHUB_ORG = "Duncan3142Org"

[tasks.clone-repo]
file = "./.github/admin/clone-repo.sh"

[tasks.sync-repo]
run.tasks = ["sync-repo-settings", "sync-repo-environments"]

[tasks.sync-repo-settings]
file = "./.github/admin/sync-settings.sh"

[tasks.sync-repo-environments]
file = "./.github/admin/sync-environments.sh"
dir = ".github/environments"
