[settings]
lockfile = true

[tools]
usage = "2"
"github:cli/cli" = "latest"
terraform = "latest"

[env]
GITHUB_ORG = "Duncan3142Org"

[tasks.clone]
file = "./.github/admin/clone.sh"

[tasks.settings]
file = "./.github/admin/settings.sh"

[tasks.environments]
file = "./.github/admin/environments.sh"
dir = ".github/environments"
