networks:
  monitoring:
    driver: bridge

x-config:
  terraform_plugin_cache_path: &terraform_plugin_cache_path /root/.terraform.d/plugin-cache

volumes:
  otel_lgtm_data:
  mise_data:
  npm_cache:
  node_modules:
  terraform_env:
  terraform_plugin_cache:

services:
  devcon:
    build:
      context: ./devcontainer/
      dockerfile: Dockerfile
    image: devcon:latest

    # Keep container running indefinitely
    command: sleep infinity

    environment:
      TF_PLUGIN_CACHE_DIR: *terraform_plugin_cache_path

    # Mount project folder and Docker socket
    volumes:
      - ..:/workspace
      - ${XDG_RUNTIME_DIR}/docker.sock:/var/run/docker.sock
      - ${HOME}/.terraform.d/credentials.tfrc.json:/root/.terraform.d/credentials.tfrc.json
      - ${HOME}/.local/share/opencode/auth.json:/root/.local/share/opencode/auth.json
      - mise_data:/root/.local/share/mise
      - npm_cache:/root/.npm
      - node_modules:/workspace/node_modules
      - terraform_env:/workspace/.github/environments/.terraform
      - type: volume
        source: terraform_plugin_cache
        target: *terraform_plugin_cache_path
      - ./devcontainer/.config/mise:/root/.config/mise
      - ./devcontainer/.config/powershell:/root/.config/powershell

    env_file:
      - ./devcontainer/.env
    secrets:
      - source: github_pkg_token
        target: github_pkg_token
      - source: gh_token
        target: gh_token
    networks:
      - monitoring

  # ------------------- #
  #      OTel-LGTM      #
  # ------------------- #
  otel-lgtm:
    image: grafana/otel-lgtm:0.19.1
    restart: unless-stopped
    ports:
      - "3000" # Grafana UI
    volumes:
      - otel_lgtm_data:/data
    networks:
      - monitoring

secrets:
  github_pkg_token:
    file: ./devcontainer/secrets/github_pkg_token
  gh_token:
    file: ./devcontainer/secrets/gh_token
