networks:
  monitoring:
    driver: bridge

volumes:
  otel_lgtm_data:

services:
  devcon:
    build:
      context: ./devcontainer/
      dockerfile: Dockerfile
    image: devcon:latest

    # Keep container running indefinitely
    command: sleep infinity

    # Mount project folder and Docker socket
    volumes:
      - ..:/workspace
      - ${XDG_RUNTIME_DIR}/docker.sock:/var/run/docker.sock
      - ${HOME}/.terraform.d/credentials.tfrc.json:/root/.terraform.d/credentials.tfrc.json
      - ${HOME}/.gemini/oauth_creds.json:/root/.gemini/oauth_creds.json
      - ${HOME}/.claude/.credentials.json:/root/.claude/.credentials.json
      - ./devcontainer/.config/mise:/root/.config/mise
      - ./devcontainer/.config/powershell:/root/.config/powershell

    env_file:
      - ./devcontainer/.env
    secrets:
      - source: github_pkg_token
        target: github_pkg_token
      - source: gh_token
        target: gh_token
    networks:
      - monitoring

  # ------------------- #
  #      OTel-LGTM      #
  # ------------------- #
  otel-lgtm:
    image: grafana/otel-lgtm:0.11.14
    restart: unless-stopped
    ports:
      - "3000" # Grafana UI
    volumes:
      - otel_lgtm_data:/data
    networks:
      - monitoring

secrets:
  github_pkg_token:
    file: ./devcontainer/secrets/github_pkg_token
  gh_token:
    file: ./devcontainer/secrets/gh_token
