[env]
GITHUB_PKG_TOKEN = "{{ read_file(path='/run/secrets/github_pkg_token') | trim }}"
GH_TOKEN = "{{ read_file(path='/run/secrets/gh_token') | trim }}"

[tools]
usage = "2"
"github:cli/cli" = "2"
docker-cli = "29"
"github:hadolint/hadolint" = "2"
"npm:@google/gemini-cli" = "latest"
"npm:husky" = "9"
"npm:@commitlint/cli" = "20"

[tasks.sync-template]
depends = "init"
file = "./dev-tasks/sync-template.sh"

[tasks.init]
depends = "install"
file = "./dev-tasks/init.sh"

[tasks.update]
file = "./dev-tasks/update.sh"

[tasks.release]
depends = ["build"]
env = { RELEASE_CLI_DIR = "./.github/actions/release" }
run = "./.github/actions/release/node_modules/.bin/semantic-release --dry"
