[env]
GH_TOKEN = "{{ read_file(path='/run/secrets/gh_token') | trim }}"
GITHUB_PKG_TOKEN = "{{ read_file(path='/run/secrets/github_pkg_token') | trim }}"

[tasks.sync-template]
depends = "init"
file = "./dev-tasks/sync-template.sh"

[tasks.init]
depends = "install"
file = "./dev-tasks/init.sh"

[tasks.update]
file = "./dev-tasks/update.sh"

[tasks.sync-root-lock]
run = "cp /root/.config/mise/mise.lock /workspace/.devcontainer/devcontainer/.config/mise/mise.lock"

[tasks.release-dry]
depends = ["build"]
env = { RELEASE_CLI_DIR = "./.github/actions/release" }
run = "./.github/actions/release/node_modules/.bin/semantic-release --dry"
