name: CD

on:
  push:
    branches: [main]
    paths:
      - "**"

concurrency:
  group: "CD"
  cancel-in-progress: false

permissions:
  packages: write

env:
  BOT_NAME: "${{ vars.DELIVERY_APP_NAME }}[bot]"
  BOT_EMAIL: "${{vars.DELIVERY_ACTOR_ID}}+${{vars.DELIVERY_APP_SLUG}}[bot]@users.noreply.github.com"
  MISE_ENV: cd

jobs:
  cd:
    name: CD
    if: (github.actor_id != vars.DELIVERY_ACTOR_ID) && (github.event.before != '0000000000000000000000000000000000000000')
    environment: GitHub
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/create-github-app-token@v2
        id: token
        with:
          app-id: ${{ vars.DELIVERY_APP_ID }}
          private-key: ${{ secrets.DELIVERY_APP_PEM_FILE }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}
          permission-contents: write
          permission-packages: write # ::TODO:: Remove if not needed
          permission-issues: write
          permission-pull-requests: write
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.token.outputs.token }}
      - uses: jdx/mise-action@v3
      - name: CD
        run: |
          mise run install
          mise run cd
        env:
          GITHUB_PKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        uses: ./.github/actions/release
        env:
          GITHUB_PKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          GIT_AUTHOR_NAME: ${{ env.BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ env.BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ env.BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ env.BOT_EMAIL }}
