name: CD

on:
  push:
    branches: [main]
    paths:
      - "**"
      - "!.vscode/**"

concurrency:
  group: "CD"
  cancel-in-progress: false

jobs:
  cd:
    name: CD
    if: (github.actor_id != vars.DEPLOYMENT_ACTOR_ID) && (github.event.before != '0000000000000000000000000000000000000000')
    environment: GitHub
    runs-on: ubuntu-22.04
    steps:
      - name: CD
        run: mise run cd
