name: CD

on:
  push:
    branches: [main]
    paths:
      - "**"
      - "!.vscode/**"

concurrency:
  group: "CD"
  cancel-in-progress: false

jobs:
  auth:
    name: Auth
    if: (github.actor_id != vars.DEPLOYMENT_ACTOR_ID) && (github.event.before != '0000000000000000000000000000000000000000')
    runs-on: ubuntu-22.04
    outputs:
      token: ${{ steps.token.outputs.token }}
    steps:
      - uses: actions/create-github-app-token@v2
        id: token
        with:
          app-id: ${{ vars.DEPLOYMENT_APP_ID }}
          private-key: ${{ secrets.DEPLOYMENT_APP_SECRET }}
          permission-contents: write
          permission-packages: write
          permission-issues: write
          permission-pull-requests: write

  cd:
    name: CD
    needs: auth
    environment: GitHub
    env:
      GITHUB_PKG_TOKEN: ${{ needs.auth.outputs.token }}
      GITHUB_TOKEN: ${{ needs.auth.outputs.token }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN }}
      - uses: jdx/mise-action@v3
      - name: CD
        run: mise run cd
